<form (ngSubmit)="onSubmit()">
    <div class="form-group">
            <div class="input-group input-group-lg bt">
                    <span class="input-group-addon" id="basic-addon1" (click)="onSubmit()">Search</span>
                    <input type="search" class="form-control" placeholder="Search Github's Repositories..." [formControl]="searchControl" [value]="searchName">
            </div>
    </div>
    
  </form>
  
<repo-search-collection [repoCollection]="repoCollection"></repo-search-collection>
  