<mat-card>
        <mat-card-title>Find a Repository</mat-card-title>
        <mat-card-content>
                <mat-input-container>
                        <input matInput placeholder="Search for a repository" [(ngModel)]="query" (keyup)="search()">
                </mat-input-container>
                <mat-spinner [class.show]="searching" [diameter]="30" [strokeWidth]="3"></mat-spinner>
        </mat-card-content>
        <mat-card-footer>

                <span *ngIf="error">{{error.error.message}}</span>
        </mat-card-footer>
</mat-card>
<app-search-collection [repoCollection]="repoCollection"></app-search-collection>