  <div *ngIf="repoCollection.length > 0">
	<div *ngFor="let repo of repoCollection" class="card-wrapper col-xl-2">
		<mat-card class="card">
			<mat-card-header>
				<mat-card-title><strong>{{ repo.name }}</strong></mat-card-title>
				<mat-card-subtitle> {{ repo.description }} </mat-card-subtitle>
			</mat-card-header>
			<mat-card-content>
                <p class="card-body"><strong>Forks count:</strong> {{ repo.forks_count }}</p>
                <p class="card-body"><strong>Stargazers count:</strong> {{ repo.stargazers_count }}</p>
                <p class="card-body"><strong>Watchers count:</strong> {{ repo.watchers_count }}</p>
			</mat-card-content>
      <mat-card-footer>
        <strong>Open issues:</strong> {{ repo.open_issues_count }}
				<small *ngIf="repo.open_issues_count > 0" (mousedown)="setRepoInStore(repo)"> <a>View</a></small>
      </mat-card-footer>
		</mat-card>
	</div>
</div>