<div class="page-title"><h3>Issue List</h3></div>
<div *ngIf="repoIssueCollection.length > 0">
	<div>
		<mat-accordion>
			<mat-expansion-panel *ngFor="let repoIssue of repoIssueCollection" class="card-wrapper">
				<mat-expansion-panel-header>
					<mat-panel-title>
						<b>{{ repoIssue.title }}</b>
					</mat-panel-title>
				</mat-expansion-panel-header>
				<ng-template matExpansionPanelContent>					
					<div> 	opened by {{ repoIssue.user?.login }} at {{repoIssue.created_at | date: 'MM/dd/yyyy'}} </div>
					<div> assigned to {{repoIssue.assignee?.login}} </div>
					<div> Details </div>
					<div> {{ repoIssue.body }} </div>
				</ng-template>
				<mat-action-row>
						updated at {{repoIssue.updated_at | date: 'MM/dd/yyyy'}}
				</mat-action-row>
			</mat-expansion-panel>
		</mat-accordion>


	</div>
</div>
<div *ngIf="repoIssueCollection.length < 1">
		<app-spinner-component></app-spinner-component>
</div>