<mat-card class="m-15 mb-0">
    <mat-card-title>Find a programming job in TN</mat-card-title>
    <mat-card-content class="card-content">
        <mat-form-field>
            <input matInput placeholder="Search for a job">
        </mat-form-field>
    </mat-card-content>
    <mat-card-footer>
    </mat-card-footer>
</mat-card>
<app-job-listing></app-job-listing>
<app-sticky-footer>
    <a [routerLink]="['/jobs/add']" preserveQueryParams preserveFragment>
        <button mat-button color="primary">Add New Job</button>
    </a>
</app-sticky-footer>