mat-card-title,
mat-card-content,
mat-card-footer {
  display: flex;
  justify-content: center;
}
mat-card-footer {
  color: #FF0000;
  padding: 5px 0;
}

.m-15{
  margin:15px;
}
.mb-0{
  margin-bottom:0px;
}


