.card-wrapper{
      padding: 0px;
    padding-right: 15px;
    padding-top: 15px;
   }
   .card-body{
     margin:0px 8px 0px 8px;
   }
   .mat-card-footer {
       display: block;
       margin: 0 -8px 0px 0px;
       font-size: 10px;
       float: right;
   }
   .mat-card-header .mat-card-subtitle:not(:first-child) {
     margin-top: -8px;
     height: 20px;
     overflow: hidden;
     text-overflow: ellipsis;
 }
 .card-image{
     text-align: center;
 }
 .card{
     padding-bottom: 50px;
 }
 .pl-15{
padding-left:15px;
}

.pr-15{
  padding-right:15px;
}

.mat-card>.mat-card-actions:last-child {
    margin-bottom: -16px;
    padding-bottom: 0;
    margin-left: 15px;
}