<div *ngIf="userCollection.length > 0">
	<div *ngFor="let user of userCollection" class="col-lg-3 col-md-4 col-sm-6 col-xs-12 card-wrapper">
		<mat-card class="card" >
			<mat-card-header>
				<mat-card-title>
					<strong>{{ user.login }}</strong>
				</mat-card-title>
				<mat-card-subtitle>					
					<a [href]="user.html_url">{{ user.html_url }}</a>
				</mat-card-subtitle>
			</mat-card-header>
			<mat-card-content class="card-image">
				<img [src]="user.avatar_url" alt="Not Found" height="230px" width="230px">
				<p>
					This app is in active development. In progress is a user detail page. For now, click view user, then follower or following.
				</p>
			</mat-card-content>
			<mat-card-actions>
				<button mat-raised-button color="warn" (mouseover)="setUser(user)" routerLink="/github/followers">View User</button>			
			  </mat-card-actions>
		</mat-card>
	</div>
</div>
<!--
<pre>
    {{ userCollection | json }}
</pre>
-->
