<mat-toolbar>
    <span>User: {{login}}
        <button mat-button color="accent" routerLink="/github/followers/{{login}}" routerLinkActive="active-link">Followers
            <span class="badge">{{user?.followers}}</span>
        </button>
        <button mat-button color="accent" routerLink="/github/following/{{login}}" routerLinkActive="active-link">Following
            <span class="badge">{{user?.following}}</span>
        </button>
        <button mat-button color="accent" >Repositories
            <span class="badge">soon!</span>
        </button>
        <button mat-button color="accent" >Gists
            <span class="badge">soon!</span>
        </button>
    </span>
</mat-toolbar>
<!--<pre>{{user | json}}</pre>-->