<mat-toolbar>
    <span>User: {{login}}
        <button mat-button color="accent" routerLink="/github/followers/{{login}}" routerLinkActive="active-link">Followers
            <span class="badge">{{user?.followers}}</span>
        </button>
        <button mat-button color="accent" routerLink="/github/following/{{login}}" routerLinkActive="active-link">Following
            <span class="badge">{{user?.following}}</span>
        </button>
        <button mat-button color="accent" routerLink="/github/repos/{{login}}" routerLinkActive="active-link">Repositories
            <span class="badge">{{user?.public_repos}}</span>
        </button>
        <button mat-button color="accent" routerLink="/github/gists/{{login}}" routerLinkActive="active-link">Gists
            <span class="badge">{{user?.public_gists}}</span>
        </button>
    </span>
</mat-toolbar>
<!--<pre>{{user | json}}</pre>-->