<mat-card>
        <mat-card-title>Find an GitHub User in TN</mat-card-title>
        <mat-card-content>
                <mat-input-container>
                        <input matInput placeholder="Search for a user" [(ngModel)]="query" (keyup)="search()">
                </mat-input-container>
                <mat-spinner [class.show]="searching" [diameter]="30" [strokeWidth]="3"></mat-spinner>
        </mat-card-content>
        <mat-card-footer>
        </mat-card-footer>
</mat-card>
<app-user-search-collection  [userCollection]="userCollection"></app-user-search-collection>
